LOCAL_PATH := $(call my-dir)
# build lib
include $(CLEAR_VARS)

LOCAL_SRC_FILES := \
	$(call all-java-files-under, java) \
	$(call all-java-files-under, src)
LOCAL_SRC_FILES += \
    src/android/net/sip/ISipSession.aidl \
    src/android/net/sip/ISipSessionListener.aidl \
    src/android/net/sip/ISipService.aidl

LOCAL_MODULE := android.sip

include $(BUILD_STATIC_JAVA_LIBRARY)

# build app
include $(CLEAR_VARS)

#LOCAL_SRC_FILES := \
	$(call all-java-files-under, java) \
	$(call all-java-files-under, src) \
	$(call all-java-files-under, settings) \
	$(call all-java-files-under, demo)
#LOCAL_SRC_FILES += \
    src/android/net/sip/ISipSession.aidl \
    src/android/net/sip/ISipSessionListener.aidl \
    src/android/net/sip/ISipService.aidl
LOCAL_SRC_FILES := \
	$(call all-java-files-under, settings) \
	$(call all-java-files-under, demo)

LOCAL_PACKAGE_NAME := Sip
#LOCAL_CERTIFICATE := platform

LOCAL_PROGUARD_ENABLED := disabled

#LOCAL_JNI_SHARED_LIBRARIES := libsiprtp
LOCAL_STATIC_JAVA_LIBRARIES := android.sip

include $(BUILD_PACKAGE)
